<detalle-cliente *ngIf="clienteSeleccionado" [cliente]="clienteSeleccionado"></detalle-cliente>

<div class="card border-primary mb-3 mt-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de clientes</h5>

        <div class="my-2 text-left">
            <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">Crear Cliente</button>
        </div>

        <div *ngIf="clientes?.length == 0" class="alert alert-info">

        </div>

        <table class="table table-bordered table-striped" *ngIf="clientes?.length>0">
            <thead>
                <tr>
                    <th *ngIf="authService.hasRole('ROLE_USER')">#</th>
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>email</th>
                    <th>fecha</th>
                    <th *ngIf="authService.hasRole('ROLE_ADMIN')">
                        editar
                    </th>
                    <th *ngIf="authService.hasRole('ROLE_ADMIN')">
                        Eliminar
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td *ngIf="authService.hasRole('ROLE_USER')">
                        <img (click)="abrirModal(cliente)" *ngIf="cliente?.foto" src="http://localhost:8080/api/uploads/img/{{cliente.foto}}" alt="{{cliente.foto}}" class="img-thumbnail rounded" style="width: 64px; cursor: pointer;">
                        <img (click)="abrirModal(cliente)" *ngIf="!cliente?.foto" src="http://localhost:8080/images/no-usuario.png" alt="Sin foto" class="img-thumbnail rounded" style="width: 64px; cursor: pointer;">
                    </td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellido | uppercase }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.createAt | date: "EEEE dd, MMMM yyyy" }}</td>
                    <!-- para poder formatear la fecha se tiene que ir a App.Module y poner la confg. de LOCALE_ID en el providers-->
                    <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                        <button class="btn btn-primary btn-sm" type="button" [routerLink]="['/clientes/form/', cliente.id]" name="editar">editar</button>
                    </td>
                    <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                        <button class="btn btn-danger btn-sm" type="button" (click)='delete(cliente)' name="eliminar">eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Forma de inyección de dependencia entre componente padre y component hijo  -->
        <paginator-nav *ngIf="paginador" [paginador]="paginador"></paginator-nav>

    </div>
</div>